<%- include('partials/__header.ejs') %>

<main>
    <!-- <nav>
     
    </nav> -->
    <holder>
      <section active>
        <h1 class="headline-large">Sesión iniciada</h1>

        <div class="content-box">
            <h1 class="headline-small">Usuario</h1>
            <p class="headline-medium"><%= name %></p>
            <p class="headline-medium"><%= user %></p>
        </div>
      </section>
    </holder>
  </main>


    
<%- include('partials/__footer.ejs') %>