<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>HAS INICIADO SESION</h1>
    <h1>El Usuario Conectado Es: <strong><%= name %></strong></h1>
    <h1>TU MATRICULA ES: <strong><%= user %> FAVOR DE NO OLVIDARLA</strong></h1>
    <form action="logout" method="post">
        <input type="submit" value="CERRAR SESION" class="button-logout">
    </form>
</body>
</html>
