
<%- include('partials/__header.ejs') %>

<main>
    <holder>
        <section active style="padding:5% 0">
            <div class="content-box light">
                <h1 class="display-large">Inicio</h1>
            </div>
            <div class="simple-container direction-row gap-8 grow-1" id="login-cotainer">
                <div class="content-box justify-center align-center gap-16">
                    
                    <md-icon style="--md-icon-size: 132px; padding:32px; background:var(--md-sys-color-surface-container-highest); border-radius:200px">login</md-icon>
                    <!-- <h1 class="display-small">Iniciar sesión</h1> -->
                    <md-filled-button href="/login">
                        iniciar sesión
                    </md-filled-button>

                    <!-- <h1 class="display-small">Iniciar sesión</h1> -->
                </div>
                <div class="content-box justify-center align-center gap-16">
                    <md-icon style="--md-icon-size: 132px; padding:32px; background:var(--md-sys-color-surface-container-highest); border-radius:200px">person_add</md-icon>
                    <!-- <h1 class="display-small">Registrarse</h1> -->
                    <md-filled-tonal-button href="/register">
                        Registrarse
                    </md-filled-tonal-button>
                </div>
            </div>
            
        </section>
    </holder>
    
    
</main>

<%- include('partials/__footer.ejs') %>

