:root,
:host {
  color-scheme: light dark;
  --md-sys-color-background: #1b1013;
  --md-sys-color-on-background: #f4dde0;
  --md-sys-color-surface: #1b1013;
  --md-sys-color-surface-dim: #1b1013;
  --md-sys-color-surface-bright: #443638;
  --md-sys-color-surface-container-lowest: #160b0e;
  --md-sys-color-surface-container-low: #24181b;
  --md-sys-color-surface-container: #291c1f;
  --md-sys-color-surface-container-high: #342729;
  --md-sys-color-surface-container-highest: #3f3134;
  --md-sys-color-on-surface: #f4dde0;
  --md-sys-color-surface-variant: #574146;
  --md-sys-color-on-surface-variant: #debfc4;
  --md-sys-color-inverse-surface: #f4dde0;
  --md-sys-color-inverse-on-surface: #3a2d30;
  --md-sys-color-outline: #a58a8f;
  --md-sys-color-outline-variant: #574146;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ffb1c3;
  --md-sys-color-primary: #ffb1c3;
  --md-sys-color-on-primary: #66002d;
  --md-sys-color-primary-container: #8a0a41;
  --md-sys-color-on-primary-container: #ffd3db;
  --md-sys-color-inverse-primary: #ac2b59;
  --md-sys-color-secondary: #ffb1c3;
  --md-sys-color-on-secondary: #551d2e;
  --md-sys-color-secondary-container: #682c3e;
  --md-sys-color-on-secondary-container: #ffc7d2;
  --md-sys-color-tertiary: #ffb59a;
  --md-sys-color-on-tertiary: #5b1b00;
  --md-sys-color-tertiary-container: #7d2800;
  --md-sys-color-on-tertiary-container: #ffd3c4;
  --md-sys-color-error: #ffb4ab;
  --md-sys-color-on-error: #690005;
  --md-sys-color-error-container: #93000a;
  --md-sys-color-on-error-container: #ffdad6;
}