.content-box{
  position:relative;
  display:flex;
  flex-direction:column;
  gap:8px;

  width:100%;
  height: auto;

  background:var(--md-sys-color-surface-container);
  /* background:var(--md-sys-color-surface-variant-variant); */

  padding:24px;
  box-sizing: border-box;
  border-radius:24px;
  transition: border-radius 200ms
}
.content-box.light{
  background:var(--md-sys-color-surface-container-low);
}

/* content divisor */
.content-box .content-divisor{display:flex; max-width: fit-content;}
/* .content-box .content-divisor:first-of-type{max-width: fit-content;} */
/* .content-box .content-divisor:last-of-type{justify-content: flex-end;} */

/* Look variations */
.content-box.minimal{
  background:none;
  padding:0;
}

/* functionality variations */
.content-box.card{
  flex-grow:1;
  flex-basis: 200px;
  user-select: none;
  cursor: pointer;
}
/* .content-box.card:hover{
  filter: brightness(.98);
} */


#login-cotainer .content-box:hover{
  border-radius:88px;
}